
@{
    ViewBag.Title = "Index";
}
<body background="http://paperlief.com/images/turquoise-color-wallpaper-2.jpg">
    <div id="here_table"></div>
</body>
    <script>

         $.ajax({
            type: "GET",
            url: '@Url.Action("devuelveClientes", "EstadoClientes")',
            processData: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                if (response.Success == true) {

                    var content = "<table class='table'>";
                    content += "<thead class='thead-dark'>";
                    content += "<tr>";
                    content += "<th>Cedula</th>";
                    content += "<th>Nombre</th>";
                    content += "<th></th>";
                    content += "</tr>";
                    content += "</thead>";
                    content += "<tbody>";

                    for (var x = 0; x < response.Data.length; x++) {
                        content += '<tr>';
                        content += '<td>' + response.Data[x].Cedula + '</td>';
                        content += '<td>' + response.Data[x].Nombre + ' ' + response.Data[x].PrimerApellido + ' ' + response.Data[x].SegundoApellido + '</td>';
                        content += '<td><a href="/EstadoClientes/ConsultaClienteEstado?cedula=' + response.Data[x].Cedula + '">Ver</a></td>';
                        content += '</tr>';
                    }
                    content += "</tbody>";
                    content += "</table>"

                    $('#here_table').append(content);

                } else {
                    alert('Ha ocurrido un problema, intentalo mas tarde!!');
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Error!!');
                guardarError(xhr.responseText);
            }
    });

    </script>
